.Main{
    width: 100%; 
    display: flex;
}
.container{
    width: 26%;
    height: 100%;
   
}

.middleContainer{
    width: 40%;
}
.rightContainer{
    width:34%;
    height: 100%;
}
.main::-webkit-scrollbar{
    display: none;
}
@media only screen and (max-width: 768px){
    .container{
        display: none;
    }
    .middleContainer{
        width: 100%;
    }
    .rightContainer{
        display: none;
    }
}