.wrapper{
  color: white;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  border: 1px rgb(60, 60, 60) solid;

  gap: 1rem;
 padding: 2rem;
}
.container1{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  gap: 1rem;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(102, 102, 192);
}
.img{
text-align: center;

}
.avatar{
  z-index: -1;
}
