.feed__header {
 
  top: 0;
  /* background-color: #000; */
  backdrop-filter: blur(5px);
  z-index: 10;
  border-bottom: 1px rgb(60, 60, 60) solid;

  padding: 0.93rem 1.25rem;
}

.feed__header h2 {
  font-size: 1.25rem;
  font-weight: 50rem;
  color:white;
}
.innercontainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  margin-top: 2rem;
  z-index: 5;
}