.button{
    width: 100%;
    background-color: black;
    color: aliceblue; 
}
.button:hover{
   background-color: gray;
}
.dialog1{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btn{
    background: none;
    border: none;
    outline: none;
    color: white;
    border-radius: 100%;
}
.textColor{
    color: #fff;
}
.titletext{
    color: #fff;
}
@media only screen and (max-width:500px){

    .dialog1{
        background-color: black;
       padding: 0;
       margin: 0;
    }
}