.headings{
background-color: black;
/* border: 2px solid red; */
color: white;
/* border-radius: 3rem; */

}
.h1:hover{
    background-color:rgb(35, 32, 32);
    color:white;
    

}
.h2:hover{
    background-color:rgb(35, 32, 32);
    color:white;
}