.btn2container{
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 30px;
    padding: 0.5rem;
    /* width: 79%; */
    height: 3.1rem;
    gap: 0.6rem;
    bottom: -7.5rem;
    
}
.btn2container:hover{
    background-color: gray;
}

.btndot{
    color: white;
}

.btn2text{
    color: white;
    gap: 0.2rem;
    font-size: smaller;
}
.button{
    width: 100%;
    background-color: black;
    color: aliceblue; 
}
.button:hover{
   background-color: gray;
}
.dialog{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btn{
    background: none;
    border: none;
    outline: none;
    color: white;
    border-radius: 100%;
}
.textColor{
    color: #fff;
}
.titletext{
    color: #fff;
}

@media only screen and (max-width:1280px){
    .btn2text, .btn{
        display: none;  
    }
    .btn2container{
   margin-left: 1rem;
    }
    .btn2container:hover{
        background: none;
    }
}
