.navbarContainer{
    position: fixed;
/*  */
width: 39.3vw
}
.twitterPostContainer{
    margin-top: 7.2rem;
    /* z-index: -2; */

}
.main{
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
   
}
.main::-webkit-scrollbar{
    display: none;
}
.postContainer{
    margin-top: 11.2rem;

    width: 100%;
    height: 100vh;
}